@use '../../../styles/mixins' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.logo-container {
  display: flex;
  align-items: center;
}
.logo-text {
  @include ibm-plex-sans(500);
  color: $gray800;
}