@use '../../../styles/mixins' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $gray800;
  @include ibm-plex-sans(500);
  margin: 30px;
}
