$default-text-color: #222;
$black: #000;
$white: #FFF;

$orange50: #FFF3E0;
$orange100: #FFE0B2;
$orange200: #FFCC80;
$orange300: #FFB74D;
$orange400: #FFA726;
$orange500: #FF9800;
$orange600: #FB8C00;
$orange700: #F57C00;
$orange800: #EF6C00;
$orange900: #E65100;
$orangeA100: #FFD180;
$orangeA200: #FFAB40;
$orangeA400: #FF9100;
$orangeA700: #FF6D00;

$gray50: #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;
