@use "./colors" as *;

html {
  scroll-behavior: smooth;


  @media (min-width: 600px) {

  }

  @media (min-width: 768px) {

  }

  @media (min-width: 1024px) {

  }

  @media (min-width: 1440px) {

  }
}

body {
  font-family: system-ui, sans-serif;
  color: $default-text-color;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
