@use "../../styles/mixins" as *;
@use '../../styles/colors' as *;

.searchContainer {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.searchText {
  @include ibm-plex-sans(500);
  color: $gray800;
}