@use "../../styles/mixins" as *;
@use '../../styles/colors' as *;

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logoText {
  @include ibm-plex-sans(500);
  color: $orange900;
}